.my_heig{
    height: 70px;
}
.google_logo{
    width: 100px;
    height: 35px;
}
.privacy_title{
    color: rgb(111, 111, 111);
    font-family: Zen Kaku Gothic Antique, Arial, Helvetica, sans-serif;
    font-weight:700 ;
    font-size: 20px;
}
.my-p{
    position: absolute;
    right: 200px;
}
.utent_img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    right: 100px;
}
.my_list_nav{
    list-style-type: none;
    font-family: Lato,Arial, Helvetica, sans-serif;
    color: rgb(111, 111, 111);
}
.no_ul{
    padding-left: 0px;
    margin-bottom: 0;
}
.my_hr{
    background-color: rgb(101, 166, 247);
    height: 3px;
    width: 100%;
}
.grey_line{
    background-color: rgb(154, 154, 154);
    height: 0.5px;
    width: 100%;
    
}
