.my_heig{
    height: 70px;
}
.google_logo{
    width: 100px;
    height: 35px;
}
.privacy_title{
    color: rgb(149, 144, 144);
    font-family: Zen Kaku Gothic Antique, Arial, Helvetica, sans-serif;
    font-weight:700 ;
    font-size: 20px;
}
.my-p{
    position: absolute;
    right: 200px;
}
.utent_img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    right: 100px;
}